# Ignore everything
*

# Except for these files
# Re-include all directories (& sub-dirs) to find files matching the exceptions that follow
!*/
# The .gitignore itself
!.gitignore
# Python
!*.py
# Markdown
!*.md
# Shell
!*.sh
# License
!LICENSE
# Makefile
!Makefile
# MFCC/Fbank config files
!mfcc.conf
!fbank.conf
# Forced Alignments
!*.ctm
# Jupyter notebooks
!*.ipynb
# Datasets
!id_mnist.npz
!data/splits/episodes/*/*.zip
!data/splits/flickr_one_shot/*.csv
!data/splits/flickr8k/*.txt
!data/splits/flickr30k/*
!data/splits/mnist_tidigits/*.csv
# !data/**

# Files to ignore that were re-included in exceptions:
# Jupyter checkpoints
.ipynb_checkpoints
# Ignore extracted features from TIDigits (needs to be obtained from LDC)
# data/processed/tidigits/*
# # Ignore extracted feature log files
# data/logs
# # Ignore extracted episode data
# data/episodes/unimodal/*/**

