# Ignore everything
*

# Except for these files
# Re-include all directories (& sub-dirs) to find files matching the exceptions that follow
!*/
# The .gitignore itself
!.gitignore
# Python
!*.py
# Markdown
!*.md
# Shell
!*.sh
# License
!LICENSE
# MFCC/Fbank config files
!mfcc.conf
!fbank.conf
# Forced Alignments
!*.ctm
# Jupyter notebooks
!*.ipynb
# Datasets
!data/**

# Files to ignore that were re-included in exceptions:
# Jupyter checkpoints
.ipynb_checkpoints
# Ignore extracted features from TIDigits (needs to be obtained from LDC)
extracted
# Ignore Flickr Audio src (for now ...)
flickr_audio
